.form-control-home{
    color: white;
    padding: 0px;
    width: 100%;
    padding-top: 15px;
    background-color: black;
    border: none;
}

.wd-img-avatar {
    width: 48px;
    margin: 16px;
}

.wd-margin-bot {
    margin-bottom: 16px;
}

.wd-vertical-top {
    vertical-align: top;
}

.wd-td-style {
    width: 100%;
}