.wd-dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wd-gray {
  color: #808080;
  margin: 0px;
  display: inline;
}

.wd-inner {
  width: -webkit-fill-available;
  padding: 0px;
}

.wd-first-icon {
  margin-right: 10px;
}

.wd-icon {
  margin-right: 10px;
  margin-left: 80px;
  margin-top: 15px;
}

@media (min-width: 992px) {
  .wd-p-mid-col {
    margin: 0;
    word-wrap: break-word;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .wd-p-mid-col {
    margin: 0;
    word-wrap: break-word;
    width: 250px;
  }
}

@media (min-width: 1400px) {
  .wd-p-mid-col {
    margin: 0;
    word-wrap: break-word;
    width: 300px;
  }
}

.wd-pb {
  padding-top: -1rem;
}

.wd-img-round {
  border-radius: 20px 20px 0px 0px;

}

.wd-img-round-ny {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid rgb(127, 118, 104)!important;
}

.wd-nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
}

.wd-lightgray {
  border-radius: 0px 0px 20px 20px;
  border: 1px solid rgb(127, 118, 104)!important;
}

@media (min-width: 1400px) {
  .wd-title-break {
    margin: 0;
    word-wrap: break-word;
    width: 550px;
  }
}

.wd-list-group-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wd-list-group-item-first:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid rgb(127, 118, 104)!important;
}

.wd-img-size {
  margin-left: -0.1px;
  margin-right: -0.01px;
  margin-bottom: -1px;
  padding: 0 !important;
  
}