.wd-title-color {
    color: white;
    font-weight: bold;
}

.wd-content-position {
    position: relative;
    bottom: 50px;
}

.wd-profileImage {
    border-radius: 50%;
    border: black solid 4px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 10px;
}

.wd-editButton {
    position: relative;
    top: 60px;
    float: right;
    background-color: black;
    border: grey solid 1px;
    color: white;
}

.wd-userNameHandle {
    position: relative;
    left: 10px;
}

.wd-userNameFont {
    font-size: 22px;
    color: whitesmoke;
}

.wd-bio {
    color: whitesmoke;
}