.border-bottom {
  border-bottom: #1da1f2 solid;
  color: #1da1f2;
  padding: 16px 0px;
  margin: 0px 16px;
}

.wd-fg-color-white {
  color: white;
}

li.wd-float {
  padding-left: 20px;
  float: left;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

ul.wd-no-bullets {
  list-style-type: none;
  position: relative;
  left: 16px;
  top: 25px;
  margin: 0;
  padding: 0;
}

.wd-solid-border1 {
  border: 1px solid rgb(47, 51, 54);
  border-bottom: none;
  width: 592px;
  height: 65px;
}

.wd-position-right {
  position: relative;
  left: 16px;
  top: 12px;
}

.wd-position-right-handle {
  position: relative;
  left: 16px;
  top: 12px;
}

mark.wd-white {
  font-size: 20px;
  color: white;
  background: none;
}

mark.wd-lightgray {
  font-size: 13px;
  color: lightgray;
  background: none;
}

.wd-img-avatar {
  position: relative;
  left: 16px;
  top: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  vertical-align: middle;
}

mark.wd-white-author-name {
  font-size: 15px;
  color: white;
  background: none;
}

mark.wd-gray-handle-name {
  font-size: 15px;
  color: lightgray;
  background: none;
}

.wd-first-txt {
  position: absolute;
  top: 12px;
  left: 76px;
  /* 16+48+12 = 76 */
}

.wd-second-txt {
  float: right;
  position: absolute;
  left: 76px;
  /* 16+48+12 = 76 */
  width: 506px;
  margin-top: 32px;
  margin-right: 16px;
  /* 16px from right border */
  margin-bottom: 12px;
  word-wrap: break-word;
}

.wd-title-txt {
  float: left;
  position: relative;
  right: 0px;
  top: 0px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  word-wrap: break-word;
  width: 506px;
}

.wd-third-txt {
  float: left;
  position: relative;
  right: 0px;
  top: 0px;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  word-wrap: break-word;
  width: 506px;
}

.wd-img-avatar {
  position: relative;
  left: 16px;
  top: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  vertical-align: middle;
}

mark.wd-white-author-name {
  font-size: 15px;
  color: white;
  background: none;
}

mark.wd-gray-handle-name {
  font-size: 15px;
  color: lightgray;
  background: none;
}

.wd-solid-border2 {
  border: 1px solid rgb(47, 51, 54);
  width: 592px;
  height: 550px;
  position: relative;
  left: 16px;
  top: 25px;
}

.wd-img-round {
  border-radius: 20px 20px 0px 0px;
  width: 504px;
  height: 264px;
  border: 1px solid lightgray;
}

.wd-img-round-pos {
  position: absolute;
  top: 98px;
  /* 86+12 */
  left: 76px;
  /* 16+48+12 = 76 */
}

.wd-round-border {
  border: 1px solid lightgray;
  width: 504px;
  height: 85px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  border-top: none;
  top: 362px;
  left: 76px;
  /* 16+48+12 = 76 */
}

.wd-icons-pos {
  position: absolute;
  left: 0px;
  top: 98px;
  /* 86+12 */
}

li a {
  position: relative;
  display: inline-block;
  color: #767d6e;
  text-align: right;
  padding: 0px;
  margin-right: 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 15px;
  top: 0px;
}

.wd-li-icon {
  position: relative;
  display: inline-block;
  color: lightgray;
  text-align: left;
  margin-left: 0px;
  text-decoration: none;
  font-size: 15px;
}

.wd-li-beginning {
  position: relative;
  display: inline-block;
  color: lightgray;
  text-align: left;
  padding: 0px;
  margin-right: 0px;
  margin-left: -18px;
  text-decoration: none;
  font-size: 15px;
  top: 0px;
}

.wd-li-number-pos {
  position: relative;
  right: 12px;
}

.wd-number-red{
  color: red;
  font: 15px;
}