.wd-rounded-corners-all-around {
  border-radius: 20px;
  background-color: darkgray;
  color: white;
  height: 30px;
  border: 1px darkgray;
}

.wd-solid-border {
  position: relative;
  left: 16px;
  border: 1px solid #2f3336;
  width: 560px;
  height: 95px;
}

.wd-gear-icon {
  float: right;
  position: relative;
  right: 12px;
  top: 6px;
}

.wd-relative-right {
  position: relative;
  left: 16px;
  top: 5px;
}

.wd-border-bottom {
  border-bottom: rgb(29,161,242) solid;
  color: rgb(29,161,242);
  padding: 16px 0px;
  margin: 0px 16px;
}

.wd-fg-color-white {
  color: white;
}


.wd-white-13 {
  color: white;
  font-size: 13px;
}

li.wd-float {
  float: left;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

li a {
  position: relative;
  left: 0px;
  display: inline-block;
  color: rgb(125, 110, 118);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
}

ul.wd-no-bullets {
  list-style-type: none;
  position: relative;
  left: 16px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: rgb(125, 110, 118);
}

.wd-solid-border2 {
  border: 1px solid #2f3336;
  width: 560px;
  height: 70px;
  border-bottom:none;
}

.wd-solid-border-2-all {
  border: 1px solid #2f3336;
  width: 560px;
  height: 70px;
}

.wd-solid-border3 {
  border: 1px solid #2f3336;
  width: 560px;
  height: 122px;
  border-bottom: none;
}

.wd-solid-border4 {
  border: 1px solid #2f3336;
  width: 560px;
  height: 127px;
  border-bottom: none;
}

.wd-position-right {
  position: relative;
  left: 16px;
  top: 10px;
}

.wd-border-2-font {
  font-size: 13px;
  color: #767d6e;
}

.wd-img1 {
  float: right;
  position: relative;
  right: 16px;
  bottom: 37px;
  border-radius: 20px;
}

.wd-img2 {
  float: right;
  position: relative;
  right: 16px;
  bottom: 19px;
  border-radius: 20px;
}


mark.wd-gray {
  font-size: 13px;
  color: #767d6e;
  background: none;
}

.img-center {
  position: relative;
  top: 2px;
}

.wd-solid-border-beginning {
  border: 1px solid #2f3336;
  width: 560px;
  height: 5px;
  background: darkgray;
  position: relative;
  left: 16px;
  border-bottom: none;
}
